@charset "utf-8";

/* 타이틀 쪽 */
@-webkit-keyframes title_up {
  0% { transform: translateY(-120px);}
  100% {transform: translateY(0);}
}

@-ms-keyframes title_up {
  0% { transform: translateY(-120px);}
  100% {transform: translateY(0);}
}

@-webkit-keyframes title_up_big {
  0% { transform: translateY(-160px);}
  40% { transform: translateY(-160px);}
  100% {transform: translateY(0);}
}

@-ms-keyframes title_up_big {
  0% { transform: translateY(-160px);}
  40% { transform: translateY(-160px);}
  100% {transform: translateY(0);}
}

@-webkit-keyframes bounce-only {
  0%{
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }

    35%{
      -webkit-transform: translateY(-15%);
      transform: translateY(-15%);
    }

    70%{
      -webkit-transform: translateY(5%);
      transform: translateY(5%);
    }


    100%{
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
}

@-ms-keyframes bounce-only {
  0%{
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }

    35%{
      -webkit-transform: translateY(-15%);
      transform: translateY(-15%);
    }

    70%{
      -webkit-transform: translateY(5%);
      transform: translateY(5%);
    }


    100%{
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
