<head>
  <meta charset="utf-8" />

  <meta http-equiv="Cache-Control" content="no-cache" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="Keywords" content="Web, html, 웹표준, 웹접근성, 웹퍼포먼스, 마크업, 개발자, 퍼블리셔, 퍼블리싱, 프론트엔드, 포트폴리오" />
  <meta
    name="description"
    content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"
  />

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{
  "/feed.xml" | relative_url }}">
    <!-- Fonts -->
    <link  media="none" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR|Roboto&display=swap" rel="stylesheet" onload="this.media='all'">

  <!-- Main Stylesheet -->
  <link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet" />
</head>
