// *****************
// Color Variables
// *****************
$primary-color: #008d56;
$secondary-color: #999;
$dark: #333;
$gray: #666;
$gray-dark: #999;
$gray-blue: #acb7b3;
$gray-white: #f8f8f8;
$gray-lighten: #bfd9cf;
$white: #fff;
$font-family: 'Noto Sans KR', Roboto, '맑은 고딕', 'malgun gothic', 'AppleGothicNeoSD', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic',  'Droid sans', sans-serif;
